[flake8]
ignore = E203, E266, W503
exclude =
    .git,
    .tox,
    __pycache__,
    build,
    dist
max-line-length = 79
max-complexity = 18
select = B,C,E,F,W,T4,B9

per-file-ignores =
    *_pb2.py: E501
